<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Admin Orders | Sivika Art Studio</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="icon"
          href="{{ url_for('static', filename='images/logo.png') }}">

</head>

<body>

    <!-- NAVBAR -->

    <nav class="navbar">

        <div class="logo">
            Sivika Art Studio
        </div>

        <ul class="nav-links">

            <li><a href="/admin">Dashboard</a></li>

        </ul>

    </nav>

    <!-- ORDERS -->

    <section class="section-padding">

        <div class="section-title">

            <h2>Customer Orders</h2>

            <p>
                Manage all placed orders from customers.
            </p>

        </div>

        <div class="glass-card"
             style="padding:40px; overflow-x:auto;">

            <table width="100%" cellpadding="20">

    <tr style="background:#fce7f3;">
        <th>Invoice No</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Total</th>
        <th>Status</th>
        <th>Order Date</th>
        <th>Delivery Date</th>
    </tr>

    {% for order in orders %}
    <tr>
        <td>{{ order.invoice_no }}</td>
        <td>{{ order.fullname }}</td>
        <td>{{ order.phone }}</td>
        <td>{{ order.address }}</td>
        <td>₹{{ order.total }}</td>
        <td>{{ order.status }}</td>
        <td>{{ order.order_date }}</td>
        <td>{{ order.delivery_date }}</td>
    </tr>
    {% endfor %}

</table>

        </div>

    </section>

    <script src="{{ url_for('static',
    filename='js/script.js') }}"></script>

</body>

</html>